<div class="bg-gray-100 m-5 ">
      <div class="justify-center">
        <h4 class="text-2xl p-1 font-bold">Get the freshCart APP</h4>
        <p>we will send you a link, open it on your phone to download the app</p>
      </div>


      <div class="m-5">
        <input type="email" class="w-80" >
        <button class="p-3  m-2 bg-main">Get the app</button>
      </div>

      <hr>
      <div class="flex justify-between m-5">
      <ul class="flex gap-3 items-center ">
    <li>Patment Partens:</li>
    <li><img src="../../../../assets/images/paypal.png" alt=""></li>
    <li><img src="../../../../assets/images/amazon-pay.png" alt=""></li>
    <li><img src="../../../../assets/images/mastercard.webp" alt=""></li>
    <li><img src="../../../../assets/images/American-Express-Color.png" alt=""></li>
      </ul>
      <ul class="flex  items-center gap-3">
        <li>Get deliveries with freshCart</li>
        <li><img src="../../../../assets/images/get-apple-store.png" alt="" class="w-20"></li>
        <li><img src="../../../../assets/images/get-google-play.png" alt=""></li>
      </ul>
      </div>
      <hr>

</div>
