<div class="container mx-auto ">
  <div class="row">
    <div class="w-9/12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../../../assets/images/slider-image-1.jpeg" class="w-full" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../../assets/images/slider-image-2.jpeg"class="w-full" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../../assets/images/slider-image-3.jpeg"class="w-full" alt=""></ng-template>
      </owl-carousel-o>
    </div>
    <div class="w-3/12 stactic-image">
      <img src="../../../../assets/images/slider-image-1.jpeg" class="w-full" alt="">
      <img src="../../../../assets/images/slider-image-2.jpeg"class="w-full" alt="">

      <img src="" alt="">
    </div>
  </div>
</div>
