<div class="w-3/4 mx-auto">
  @if (err) {
    <div class="alert p-2 rounded ">
      <p class=" p-5">{{err}}</p>
    </div>
  }

  @if (emailFormFlag) {
    <h2 class="text-xl font-semibold my-3">Email Confirm</h2>
    <form [formGroup]="emailForm" (ngSubmit)="submitEmailForms()" >
        <input formControlName="email" type="email" class="rounded w-full p-1">

          @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched){
            <div class="alret m-0 p-0">

            @if (emailForm.get('email')?.errors?.['required']) {
              <p class="p-1 m-0">
                Email is required
              </p>
            }
            @if (emailForm.get('email')?.errors?.['email']) {
              <p class="p-1 m-0">
                Email is not valid
              </p>
            }
          </div>
          }



        <button [disabled]="emailForm.invalid" class="bg-main my-2 p-2 block ms-auto">

            <span class="p-2 rounded text-white">Send</span>

        </button>

    </form>
  }

  <!-- ======================Code form======================= -->

  @if (emailCodeFlag) {
    <h2 class="text-xl font-semibold my-3">Code form</h2>
    <form [formGroup]="codeForm" (ngSubmit)="submitCodeForms()" >
        <input formControlName="resetCode" type="text" class="rounded w-full p-1">

          @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched){
            <div class="alret m-0 p-0">
            <div></div>
            @if (codeForm.get('resetCode')?.errors?.['required']) {
              <p class="p-1 m-0">
                resetCode is required
              </p>
            }
            @if (codeForm.get('resetCode')?.errors?.['pattern']) {
              <p class="p-1 m-0">
                code is not valid
              </p>
            }
          </div>
          }



        <button [disabled]="codeForm.invalid"  class="bg-main my-2 p-2 block ms-auto">

            <span class="p-2 rounded text-white ">Send</span>

        </button>

    </form>
  }
  <!-- ======================New password form======================= -->
  @if (newPasswordFlag) {
    <h2 class="text-xl font-semibold my-3">New password form</h2>
    <form [formGroup]="newPasswordForm" (ngSubmit)="newPasswordForms()" >
      <label for="">Email</label>
        <input formControlName="email" type="email" class="rounded w-full p-1">

          @if(newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched){
            <div class="alret m-0 p-0">
            <div></div>
            @if (newPasswordForm.get('email')?.errors?.['required']) {
              <p class="p-1 m-0">
                email is required
              </p>
            }
            @if (newPasswordForm.get('email')?.errors?.['email']) {
              <p class="p-1 m-0">
                Password is not valid
              </p>
            }
          </div>
          }

      <label for="">New password</label>
        <input formControlName="newPassword" type="text" class="rounded w-full p-1">
          @if(newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched){
            <div class="alret m-0 p-0">
            <div></div>
            @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
              <p class="p-1 m-0">
                newPassword is required
              </p>
            }
            @if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
              <p class="p-1 m-0">
                code is not valid
              </p>
            }
          </div>
          }



        <button [disabled]="newPasswordForm.invalid"  class="bg-main my-2 block ms-auto p-2">
            <span class="p-2 rounded text-white">Send</span>
          
        </button>

    </form>
  }
</div>
