
  @if (product) {
    <div class="container mx-auto my-5 ">
        <div class="row items-center">
          <div class="md:w-3/12 p-3">



              <owl-carousel-o [options]="customOptions">
                @for (prod of product.images; track $index) {
                <ng-container >
                  <ng-template carouselSlide >
                    <img [src]="prod" >
                  </ng-template>
                </ng-container>
              }
              </owl-carousel-o>



          </div>
          <div class="md:w-9/12 p-3">
            <h1 class="text-lg font-medium">{{product.title}}</h1>
            <p class="text-sm text-gray-400 my-3">{{product.description}}</p>
            <span class="text-xs"> {{product.category.name}} </span>
            <div class="row justify-between my-3">
              <span> {{product.price}} EG</span>
              <span> {{product.ratingsAverage}} <i class="fa fa-star rating-color"></i></span>
            </div>
                      <button (click)="addProductToCart(product._id)" class="btn-main w-full p-2 rounded">Add to cart</button>
          </div>
        </div>


    </div>

  }






